.cms {
    background-color: #F6F6F6;
    height: 700px;
  }

.cms-p{
    padding-top: 20%;
    font-size: 49px;
    font-weight: 800;
    color: #696969;
    font-style: inherit;
    text-transform: uppercase;
    padding-left: 5%;
}
.cms-p-unlock{
    color: #696969;
    padding-left: 5%;
    font-size: 1.3rem;
    margin-top: -1%;
}
.title-start{
    font-weight: bold;
    font-size: 29px;
    color: #0060ad;
    font-style: inherit;
    opacity: 0.9;
}
.section-service{
    font-size: 18px;
    color: #60697B;
}
p{
    font-family: inherit;
}